* {
  font-family: Arial, sans-serif;
  font-size: 14px;
  }

body {
      background-color: #2c2c2c;
      }

table {
      width: 800px;
      background-color: #2f2f2f;
      border-spacing: 0;
      margin: 25px;
      border: 1px solid;
      border-color: #525252;
      border-radius: 10px;
      }

th {
    color: white;
    height: 30px;
    text-align: left;
    padding: 10px;
    }

.circle {
    width: 4px;
    height: 4px;
    background: #818181;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
